@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.logo-text {
  font-family: "Dancing Script", cursive;
  color: #0471bf;
}
.nav-Link-decoration {
  text-decoration: none;
  color: #011e3b;
  align-items: center;
}
.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.nav-item-paragraph {
  font-size: 10px;
  font-family: "open sans";
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.5px;
}
.MyProfile-MenuItem {
  font-family: "open sans";
  font-weight: 500;
  color: #011e3b;
}
